:root {
    --main-bg: #1a191d;
    --primary-font: #ffffff;
    --secondary-font: #c4c4c47d;
    --para-font: rgb(211, 211, 211);
    --heading-accordion: #740cdc; 
    --extended-accordion: #241d41;
    --box-radii: 5px;
}



*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   font-family:'Poppins', sans-serif ;
}

body {
    background-color:var(--main-bg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
   flex-wrap: wrap;
   margin-top: 5em;
}

.about{
    max-width: 650px;
    /* margin-right: 1rem; */
    max-height: 10%;
    /* border: #2c3599 solid 2px; */
}

h2 {
    font-size: 3em;
    color: #fff;
}

h5, p {
    font-size: 20px;
}

h5 {
    color: var(--primary-font);
}

h6{
    color: var(--secondary-font);
    font-size: 16px;
}

h2, h5, h6, p {
    margin: 0.8rem;
}

p {
    color: var(--para-font);
    line-height: 1.6;
}

a {
    display: flex;
    margin: 1rem;
}

a:hover{
    color: var(--heading-accordion);
}

a, i{
    color: var(--secondary-font);
    font-size: 20px;
    text-decoration: none;
}

i {
    margin-inline-end: 1rem;
}

/* -- Hover effect on icons -- */
.fa-github:hover {
    color: var(--primary-font);
}

.fa-free-code-camp:hover {
    color: orange;
}

.fa-linkedin:hover {
    color: rgb(116, 116, 248);
}

.fa-envelope:hover {
    color: rgb(253, 45, 45);
}

/* To remove account links in smaller screen */
@media (max-width: 1100px) {
    section > a,
    .fa-github, 
    .fa-envelope, 
    .fa-linkedin,
    .fa-free-code-camp {
       display: none;
    }
}

/* --- Accordion --- */
.accordion {
    max-width: 500px;
    margin: 1em;
}

.accordion .contentBx {
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBx .label {
    position: relative;
    padding: .7rem;
    border-radius: var(--box-radii);
    background: var(--heading-accordion);
    color: var(--primary-font);
    cursor: pointer;
}

.content {
    margin-block: .8rem;
    border-radius: var(--box-radii);
}

.content > p {
    color: var(--para-font);
    line-height: normal;
    font-size: 16px;
    padding-bottom: 10px;
}

/* Project Section */
.content > h5 > a {
    margin: 0;
    color: var(--primary-font);
}

.content > h5 > a > .fa-square-arrow-up-right {
    color: #bb77ff;
    margin-inline-start: 10px;
}


/* Resume Section */
.resume{
    text-align: center;
}

.fa-file-arrow-down {
    font-size: 2em;
    margin: 0 auto;
}

/* Tools Section */
.tools {
    text-align: center;
}

.content > h5 > a:hover{
    text-decoration: underline;
}

.language-used {
    background-color: #2c3599;
    color: var(--primary-font);
    padding: .3rem 1rem;
    border-radius: 20px;
    margin: 0.2rem;
}

/* Line to break content*/
.line {
    padding: 1px;
    background-color: var(--secondary-font);
    margin-block: 5%;
}

.label {
    font-weight: 600;
    font-size: 1.2rem;
}

.accordion .contentBx .label::before {
content: '+';
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
font-size: 1.5em;
} 

.accordion .contentBx.active .label::before {
    content: '-';
}

.accordion .contentBx .content {
    position: relative;
    background-color: var(--extended-accordion);
    height: 0;
    overflow: hidden;
    transition: 0.5%;
    overflow-y: auto;
}

.accordion .contentBx.active .content {
    height: fit-content;
    padding: .9em;
}
@media (max-width: 1100px) {
    .accordion {
        padding-bottom: 5em;
    }
}

/* FOOTER */
footer {
    display: none;
}
/* Footer Activates in smaller screen */
@media (max-width: 1100px) {
    footer{
        background-color: var(--heading-accordion);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #footer-git,
    #footer-fcc,
    #footer-mail,
    #footer-linkedin
     {
        color: var(--primary-font);
    }

    #footer-git:hover {
        color: var(--primary-font);
    }
    
    #footer-fcc:hover {
        color: orange;
    }
    
    #footer-linkedin:hover {
        color: rgb(116, 116, 248);
    }
    
    #footer-mail:hover {
        color: rgb(232, 153, 153);
    }
    
}


